
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$navy: #003366;
$white: #ffffff;
$GorillaOrange: #fc6;
$GorillaBlue: #66ccff;

// Fonts
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$CONFUSION: "Arial Black", Gadget, sans-serif;

//Grays
$darkerGray: #222;
$black: #000;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
